.sign-up-form-container {
  background: #7d97f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 50px 0;
  color: white;
}

.new_user {
  width: 70%;
}

.form-secondary-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: left;
  padding-bottom: 20px;
}
