body {
  background-color: white;
}

.container {
  background-color: white;
}

.top-image {
  margin: 32px 0px;
  border-radius: $border-radius;
}

.content-container {
  margin: 32px 0px;
}

.title-container img {
  border-radius: 50px;

}

.box-with-shadow {
  background: white;
  padding: 16px;
}

.description {
  margin: 32px 0px;
}
