.top-image {
  margin: 32px 0px;
  border-radius: $border-radius;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-container {
  margin: 32px 0px;
}

.title-container img {
  border-radius: 50px;

}

.box-with-shadow {
  box-shadow: $box-shadow;
  background: white;
  padding: 16px;
  width: 300px;
  top: 1em;
}

.description {
  margin: 32px 0px;
}

.price {
  padding-bottom: 8px;
  border-bottom: 1px;
  border: light-gray;
  h4 {
    padding-right: 8px;
  }
}
