.search-filter-buttons {
  height: 70px;
  display: flex;
  align-items: center;
}

.vehicles-index-wrapper {
  height: calc(100vh - 150px);
  display: flex;
}

.cards-wrapper {
  width:50%;
  height: 100%;
  overflow: auto;
}

.map-wrapper {
  width:50%;
  height: 100%;
}
