<h1>Bonjour, je suis une boooking</h1>

<ul>
  <li><%= @booking.vehicle.name %> </li>
  <li><%= @booking.start_date %></li>
  <li><%= @booking.number_of_nights %></li>
  <li><%= @booking.vehicle.price_per_night %></li>
</ul>


