@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// Need it t have fixed height for vehicles index page to work
.navbar {
  height: 80px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  line-height: 40px;
}

.nav-avatar {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.dropdown-toggle::after {
    display:none;
}
