@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-cara {
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-avatar img {
  background-color: gray;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.dropdown-toggle::after {
    display:none;
}
