<div class="search-filter-buttons px-3 border-bottom">
  <button type="button" class="btn btn-outline-primary mr-2" data-container="body" data-toggle="popover" data-placement="bottom">Dates</button>
  <button type="button" class="btn btn-outline-primary mr-2" data-container="body" data-toggle="popover" data-placement="bottom">Berths</button>
  <button type="button" class="btn btn-outline-primary mr-2" data-container="body" data-toggle="popover" data-placement="bottom">Vehicle Type</button>
  <button type="button" class="btn btn-outline-primary mr-2" data-container="body" data-toggle="popover" data-placement="bottom">Distance</button>
  <button type="button" class="btn btn-outline-primary mr-2" data-container="body" data-toggle="popover" data-placement="bottom">Price Per Night</button>
</div>

<div class="search-filter-popovers d-none">
  <div>
    Select dates:
  </div>
  <div>
    Select berths:
  </div>
  <div>
    Select vehicle type:
  </div>
  <div>
    Select distance:
  </div>
  <div>
    Select price per night:
  </div>
</div>
